---
---

@import "{{ site.theme }}";

#project_title {
    visibility: hidden;
    position: relative;
}

#project_title:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Maximilian Willembrinck";
}

#footer_wrap footer p{
    visibility: hidden;
    position: relative;
}

#footer_wrap footer p:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "© 2023 Maximilian Willembrinck";
}
