---
---

@import "{{ site.theme }}";

#project_title {
    visibility: hidden;
    position: relative;
}

#project_title:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Maximilian Ignacio Willembrinck Santander";
    font-size: 38px;
}

#footer_wrap footer p{
    visibility: hidden;
    position: relative;
}

#footer_wrap footer p:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "© 2023 Maximilian Willembrinck";
}

.inner {
    max-width: 860px;
    margin: 0px 50px 0px 100px;
}

#header_wrap .inner {
    padding: 30px 0px 0px 10px;
}
